- form_for record_or_name_or_array, args do |f|
  - # this is necessary in rails 2.3.4 because we can't send an empty array (see rails docs for check_box_tag)
  = hidden_field_tag 'user[notification_types][]', ''

  - notification_types.each do |notification_type|
    %div
      = check_box_tag 'user[notification_types][]', notification_type, current_user.is_subscribed_to_notification_type?(notification_type), :id => notification_type
      = label_tag notification_type
      
  %div= submit_tag