<div class="notification_settings">
  <% groups.each do |group_title, notification_types| %>
    <table>
      <tbody>
        <% # Don't display a header if only one unnamed group %>
        <% unless groups.size == 1 && group_title.nil? %>
          <tr><th colspan="2"><%= group_title || 'Other' %></th></tr>
        <% end %>

        <% notification_types.each do |notification_type| %>
          <tr>
            <td class="email_subscription">
              <%= 
                check_box_tag "user[notification_types][#{notification_type.to_s}][is_subscribed]", true, 
                  user.is_subscribed_to_notification_type?(notification_type.to_s), 
                  :id => notification_type.to_s 
              %>
            </td>
                        
            <td class="notification_title">
              <%= label_tag notification_type.to_s, notification_type.title %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>